/*
assets: Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115)*/
@font-face {
    font-family: 'Work Sans';
    src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Work Sans ExtraLight';
    src: url("../fonts/WorkSans-ExtraLight.ttf")
}

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Work Sans';
}

/* Navbar Top */

.navHeader {
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    color: #867772;
}

.navHeader img {
    padding-right: 50%;
}

.navHeader li a {
    color: #867772;
    text-decoration: none;
    font-size: 2rem;
}

.navHeader div li a:hover {
    color: #ebccc2;
    text-decoration: underline;
}

.navHeader div {
    color: #867772;
    width: 20%;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
}

.navHeader div li {
    align-self: center;
}

select {
    background-color: #2e2e2e;
    color: #867772;
    text-transform: uppercase;
}

select:hover {
    color: #ebccc2;
}

/* Navbar Left */

.navArticle {
    position: fixed;
    padding: 15% 0 20% 2.5%;
    list-style: none;
    align-self: center;
    padding-right: 10%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navArticle a {
    font-size: 2rem;
    text-decoration: none;
    padding-left: 60px;
}

.navBox {
    display: flex;
    flex-direction: column;
}

.navDiv {
    display: flex;
    flex-direction: row;
}

.navDiv2 {
    display: flex;
    flex-direction: row;

}

.kreis {
    height: 4vh;
    width: 2vw;
    border: 1px #ebccc2 solid;
    border-radius: 50%;
}

.rand {
    border-left: 1px solid #867772;
    height: 8vh;
    width: 100%;
    margin-left: 19.5%;
    align-self: center;
}

.ABOUT {
    align-self: center;
}

.ABOUT a {
    color: #867772;
}

.MARKED {
    align-self: center;
}

.MARKED a {
    color: #ebccc2;
}

/* Main */


.sectionIndex {
    padding-top: 10vh;
    background-color: #2e2e2e;
    color: #ebccc2;
    display: flex;
    flex-direction: column;
}

.h1Index {
    font-family: 'Work Sans ExtraLight' sans-serif;
    font-size: 4rem;
    font-weight: 10;
    word-spacing: 5px;
    align-self: center;
    width: 20%;
    padding: 10%;
}

.sectionImage {
    padding: 5%;
}

.articleIndex {
    padding: 5vh 15% 5vh 2.5%;
    background-color: #2e2e2e;
    color: #ebccc2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.articleIndex {
    padding-left: 10%;
}

.articleImg {
    height: 50vh;
    width: 80%;
    padding: 5% 0 5% 10%;
}

.divArticle {
    padding: 10% 5%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.h1Article {
    font-family: 'Work Sans ExtraLight' sans-serif;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 5px;
}

.pArticle1 {
    padding-top: 5%;
    color: #867772;
    font-size: 2rem;
    line-height: 25px;
    word-spacing: 5px;
}

.pArticle2 {
    padding-top: 2.5%;
    color: #867772;
    font-size: 2rem;
    line-height: 25px;
    word-spacing: 5px;
}

/*

CSS für lounger.html

*/